workflows/4-owner-alerts.json
{
  "name": "4 - Owner Alerts",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "oa111111-1111-4372-a567-0e02b2c3d479",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To", "value": "whatsapp:+1234567890" },
            { "name": "From", "value": "whatsapp:+14155238886" },
            { "name": "Body", "value": "=HOT LEAD: {{ $json.contact_data.name }} - {{ $json.contact_data.phone }} - Interest: {{ $json.contact_data.interest }} - Score: {{ $json.contact_data.score }}/10 - Action: {{ $json.contact_data.suggested_action }}" }
          ]
        }
      },
      "id": "oa333333-3333-9012-cdef-345678901234",
      "name": "Send WhatsApp Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_TWILIO_CREDENTIAL_ID",
          "name": "Twilio Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "harshilyogi077@gmail.com",
        "subject": "=Hot Lead Alert: {{ $('Execute Workflow Trigger').item.json.contact_data.name }}",
        "message": "=<h2>Hot Lead Alert</h2><p><strong>Name:</strong> {{ $('Execute Workflow Trigger').item.json.contact_data.name }}</p><p><strong>Phone:</strong> {{ $('Execute Workflow Trigger').item.json.contact_data.phone }}</p><p><strong>Email:</strong> {{ $('Execute Workflow Trigger').item.json.contact_data.email }}</p><p><strong>Interest:</strong> {{ $('Execute Workflow Trigger').item.json.contact_data.interest }}</p><p><strong>Lead Score:</strong> {{ $('Execute Workflow Trigger').item.json.contact_data.score }}/10</p><h3>Suggested Action</h3><p>{{ $('Execute Workflow Trigger').item.json.contact_data.suggested_action }}</p><hr><p><em>Sent automatically by your CRM system.</em></p>",
        "options": { "appendAttribution": false }
      },
      "id": "oa444444-4444-0123-defa-456789012345",
      "name": "Send Hot Lead Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [720, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/YOUR_AIRTABLE_BASE_ID/Interactions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { Contact: [$('Execute Workflow Trigger').item.json.contact_data.contact_id], Type: 'Alert Sent', Direction: 'Outbound', Summary: 'Hot lead alert sent', Details: 'WhatsApp + Email alert. Score: ' + $('Execute Workflow Trigger').item.json.contact_data.score + '/10', Timestamp: new Date().toISOString(), Outcome: 'Completed' } }) }}"
      },
      "id": "log-alert-1111-1111-111111111111",
      "name": "Log Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Token"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Send WhatsApp Alert", "type": "main", "index": 0}]]
    },
    "Send WhatsApp Alert": {
      "main": [[{"node": "Send Hot Lead Email", "type": "main", "index": 0}]]
    },
    "Send Hot Lead Email": {
      "main": [[{"node": "Log Alert", "type": "main", "index": 0}]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "4"
}
